[submodule "Core/Tools"]
	path = Core/Tools
	url = https://github.com/papishushi/ScapeCore.Core.Tools
[submodule "Core/Serialization"]
	path = Core/Serialization
	url = https://github.com/papishushi/ScapeCore.Core.Serialization
