[submodule "Core/Tools"]
	path = Core/Tools
	url = https://github.com/papishushi/ScapeCore.Core.Tools
[submodule "Core/Serialization"]
	path = Core/Serialization
	url = https://github.com/papishushi/ScapeCore.Core.Serialization
[submodule "Core/Batching"]
	path = Core/Batching
	url = https://github.com/Papishushi/ScapeCore.Core.Batching
[submodule "Core/Targets"]
	path = Core/Targets
	url = https://github.com/Papishushi/ScapeCore.Core.Targets
[submodule "Core/Engine"]
	path = Core/Engine
	url = https://github.com/Papishushi/ScapeCore.Core.Engine
[submodule "Core/Collections"]
	path = Core/Collections
	url = https://github.com/Papishushi/ScapeCore.Core.Collections
[submodule "Core/SceneManagement"]
	path = Core/SceneManagement
	url = https://github.com/Papishushi/ScapeCore.Core.SceneManagement
[submodule "Core/Physics2D"]
	path = Core/Physics2D
	url = https://github.com/Papishushi/ScapeCore.Core.Physics2D
[submodule "Templates/CSharp"]
	path = Templates/CSharp
	url = https://github.com/Papishushi/ScapeCore.Templates.CSharp
[submodule "Traceability"]
	path = Traceability
	url = https://github.com/papishushi/ScapeCore.Traceability
[submodule "Core/Debug"]
	path = Core/Debug
	url = https://github.com/Papishushi/ScapeCore.Core.Debug,git
