[submodule "ScapeCore.Core.Tools"]
	path = ScapeCore.Core.Tools
	url = https://github.com/papishushi/ScapeCore.Core.Tools
[submodule "ScapeCore.Core.Serialization"]
	path = ScapeCore.Core.Serialization
	url = https://github.com/papishushi/ScapeCore.Core.Serialization

